@import "../assets/scss/lib.scss";

.container{
  @include flex;
  @include ai-ctr;
  @include jc-ctr;
  @include flex-column;
  &__row{
    @include flex;
    @include ai-ctr;
    @include jc-ctr;
    padding: 25px 0;
  }
}
h1{
  color: $color_yellow;
  font-size: 30px;
}
p{
  color: $color_brown;
  font-size: 25px;
}
