<!--The content below is only a placeholder and can be replaced.-->
<div class="resume">
  <div class="resume__container">
    <div class="resume__row">
      <img class="resume__photo" src="/assets/img/myphoto.jpg">
    </div>
    <div class="resume__row resume__row_column">
      <h1 class="ch-name">鄭宇佋</h1>
      <h1 class="en-name">Yu Shao Jheng</h1>
    </div>
    <div class="resume__row resume__row_column">
      <p class="job-title">
        Angular 前端工程師
      </p>
      <p class="my-city">
        Kaohsiung City，TW
      </p>
      <p class="my-mail">
        m3gl4a@gmail.com
      </p>
    </div>
    <div class="resume__row">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-github"></i>
    </div>
    <div class="resume__row">
      <pre class="my-summary">{{summary}}</pre>
    </div>
  </div>
</div>
